</head>
<body>
  <label>Goalkeeper</label>
  <select name= colours method="GET" action="/">
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>"
    <option value= "{{player}" SELECTED>

    </option>"
    {% endfor %}
</select>
<br> 
  <label>Defender</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Defender</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Defender</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Defender</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Midfielder</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Midfielder</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Midfielder</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Midfielder</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Forward</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <label>Forward</label>
  <input>
  <select name= player method="GET" action="/">
    {% for player in Players %}
    <option value= "{{player}" SELECTED>
      
    </option>"
    {% endfor %}
</select>
  <br>
  <form action="" method="post">
    <input type="text" name="location"/>
    <button>Create Team</button>
  </form>
</body>\
