<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the game</title>
    <h1>About the Game</h1>
    <p>
        Dream Eleven is a FUT Draft Simulator. The game will give you am option of 5 players to select from in each position. By selecting your favorite player in each position, you can create your Dream Eleven. While you are creating your team, the computer will be simeltaneously creating its own Dream Eleven. Once you click on the 'Create Team' button, the game will create a simulation of a match against your team and the computer's team and at the end of the battle, the team with the highest average rating will win. See if you can beat the computer's Dream Eleven. 
    </p>
    </head>
</head>
<body>
    
</body>
</html>