<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Dream Eleven Stadium</h1>
  <h1>Your Team</h1>
    <p>{{golkeeper}}</p>
    <p>{{defender1}}</p>
    <p>{{defender2}}</p>
    <p>{{defender3}}</p>
    <p>{{defender4}}</p>
    <p>{{midfielder1}}</p>
    <p>{{midfielder2}}</p>
    <p>{{midfielder3}}</p>
    <p>{{midfilder4}}</p>
    <p>{{forward1}}</p>
    <p>{{forward2}}</p>

  <h1>Computer's Team</h1>
      <p>{{computergolkeeper}}</p>
    <p>{{computerdefender1}}</p>
    <p>{{computerdefender2}}</p>
    <p>{{computerdefender3}}</p>
    <p>{{computerdefender4}}</p>
    <p>{{computermodifier1}}</p>
    <p>{{computermodifier2}}</p>
    <p>{{computermodifier3}}</p>
    <p>{{computermodifier4}}</p>
    <p>{{computerforward1}}</p>
    <p>{{computerforward2}}</p> 
    <h1>
      Results
    </h1><p>Your Dream Eleven Rating: {{ result }}</p>
    <p>Computer Team's Rating : {{ result2 }}</p>
    <p>Difference in Rating: {{ difference }}</p>
  </body>
</html>